{% extends 'main/base.html' %}
{%load static %}
{%block title %}about page{% endblock%}

{% block content%}

<div class="about-container">
    <div class="about-content">
<p>Real estate is the land and any permanent structures attached to it, such as buildings, fixtures, and roads. It is one of the most important asset classes in the world, and it plays a vital role in the economy.</p>
<p>
    There are five main types of real estate:
    <br>
    Residential: This includes single-family homes, multi-family homes, and apartments.
    <br>
    Commercial: This includes office buildings, retail stores, and industrial properties.
    <br>
    Industrial: This includes factories, warehouses, and distribution centers.
    <br>
    Raw land: This is undeveloped land that can be used for a variety of purposes, such as building new homes or businesses.
    <br>Special use: This includes properties such as hotels, churches.
</p>
   </div>
</div>

{% endblock %}