{% extends 'main/base.html' %}
{%block title %}about page{% endblock%}

{% block content %}

<div class="wrapper">

    <div class="about-containe">

        <h2>
            What Are Types of Real Estate?
        </h2>

        <p>
           - Commercial real estate: Any property used exclusively for business purposes, such as apartment complexes,<br> gas stations, grocery stores, hospitals, hotels, offices, parking facilities, restaurants, shopping centers, stores, and theaters.
           <br><br>
           -Industrial real estate: Any property used for manufacturing, production, distribution,<br> storage, and research and development. 
        </p>
            </div>

        </div>

    

</div>


{% endblock %}