{% extends 'main/base.html' %}
{% load static %}

{% block title %} Home {% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="{%static '/css/main.css'%}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% block content %}


<h1> properties</h1>
<div class="all">

    <p>Property is a term describing anything that a person or a business has legal title over, <br> affording owners certain enforceable rights over said items. Examples of property,<br> which may be tangible or intangible, include automotive vehicles, industrial equipment, <br>furniture, and real estate—the last of which is often referred to as "real property."</p>
    <img class="ab" src="/static/images/a.jpg" width="400" height="300">
    <img class="ab" src="/static/images/pexels.jpg" width="400" height="300">
</div>





{% endblock %}