{% extends 'main/base.html' %}
{% load static %}
{% block header %}
Contract Page
{% endblock %}
{% block logo %}
<h1>CONTRACT</h1>
{% endblock%}
{% block images %}
<img class="image-background" src="{% static 'image/pages/contract.jpeg' %}" alt="Home Image">
{% endblock %}
{% block title %} 
<h1>Real Estate Contract</h1> 
{% endblock %}
{% block body %}
<h1>Real Estate Contracts Work</h1>
{% endblock %}
{% block paragraph %}
<p>A real estate contract is a legally binding document between two or more parties participating in a purchase and sale, exchange, or transfer of real estate. It outlines the expectations of the homebuyer and seller. Real estate contracts need to be in writing to be enforceable. A real estate contract generally covers terms of finance, seller assist, home inspection, fixture and appliances, closing date, sale of existing home, etc.</p>
{% endblock %}
