{% extends 'main/base.html' %}
{%block title %}Home Page{% endblock%}

{% block content%}    
<div class="homepage-content">
    <div class="sub-content">
        <h1>Find Your Dreams</h1>
        <p>Our catalog will surprise you. Rather, discover<br> unprecedented offers of luxury properties.</p>
        <a class="btn" href=" ">catalog</a>
    </div>  
</div>

<div class="bottom-container">

    <div class="bottom-nav">

        <div class="service-item" id="all">
            <span class="material-symbols-outlined">location_city</span>
            <h5>all</h5>
        </div>

        <div class="service-item" id="land-lots">
            <span class="material-symbols-outlined">check_box_outline_blank</span>
            <h5>land lots</h5>
        </div>

        <div class="service-item" id="office">
            <span class="material-symbols-outlined">checked_bag</span>
            <h5>office</h5>
        </div>

        <div class="service-item" id="store">
            <span class="material-symbols-outlined">liquor</span>
            <h5>store</h5>
        </div>

        <div class="service-item" id="apartment">
            <span class="material-symbols-outlined">apartment </span>
            <h5>apartment</h5>
        </div>

        <div class="service-item" id="villa">
            <span class="material-symbols-outlined">villa</span>
            <h5>villa</h5>
        </div>

        <div class="service-item" id="house">
            <span class="material-symbols-outlined">other_houses</span>
            <h5>house</h5>
        </div>




    </div>
</div>
{% endblock %}