{% extends 'main/base.html' %}
{% load static %}

{% block title %} Home Page {% endblock %}

{% block content %}

    <div class="homepage-content">
        <div class="sub-content">
            <h1>Find Your Dreams</h1>

            <p>Our catalog will surprise you. Rather, discover an unprecendented offers of luxury properties. Our catalog will surprise you. Rather, discover an unprecendented offers of luxury properties.</p>

            <a class="btn" href="#">catalog</a>
        </div>

</div>

     <div class="bottom-container">

        <div class="bottom-nav">

            <div class="service-item" id="all">
                <span class="material-symbols-outlined">corporate_fare</span>
                <h5>All</h5>
            </div>

            <div class="service-item" id="landlots">
                <span class="material-symbols-outlined">pin_drop</span>
                <h5>Land Lots</h5>
            </div>

            <div class="service-item" id="office">
                <span class="material-symbols-outlined">domain</span>
                <h5>Office</h5>
            </div>

            <div class="service-item" id="store">
                <span class="material-symbols-outlined">store</span>
                <h5>Store</h5>
            </div>

            <div class="service-item" id="apartment">
                <span class="material-symbols-outlined">apartment</span>
                <h5>Apartment</h5>
            </div>

            <div class="service-item" id="villa">
                <span class="material-symbols-outlined">villa</span>
                <h5>Villa</h5>
            </div>

            <div class="service-item" id="house">
                <span class="material-symbols-outlined">house</span>
                <h5>House</h5>
            </div>

        </div>

    </div>
{% endblock %}