{% extends 'main/base.html' %}
{% load static %}

{% block title %} Home {% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="{%static '/css/main.css'%}" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% block content %}
<style>
    body{
    background-image:url("static/images/home.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

</style>
<div>
    <h1> FIND YOUR<br> DREAM</h1>
    <div class="t">
    <p><b>Do you want to have an exciting experience like <br>living in huts in the middle of the snow?<br> A wonderful atmosphere and stunning views in a place<br> characterized by beauty and tranquility to provide you comfort and enjoyment.</b></p>
    <h3>catalog</h3>


</div>
 

        <footer class="fs">
            <ul class="f2">
                <li> <img class="icons" src="/static/images/place.png" /><br>location</li>
                <li> <img class="icons" src="static/images/villa.png" /><br>Villa</li>
                <li> <img class="icons" src="static/images/apartment.png" /><br>Apartment</li>
                <li> <img class="icons" src="static/images/cabin.png" /><br>Huts</li>

            </ul>  
            
        </footer>



{% endblock %}
 
