{% extends 'main/base.html' %}

{%block title%} Home page {%endblock%}

{%block contant%}
<div class="imgsHome">
    <nav class="toppage">
        <h2 id="Home">Home</h2>
        <div class="list">
            <a href="/">Home</a>
            <a href="/">Properties</a>
            <a href="/">Service</a>
            <a href="/">About</a>
            <a href="/">Contacts</a>
        </div>

        <div class="Sigin">
            <span class="material-symbols-outlined">person</span>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
            <h3>Sigin up</h3>
        </div>
    </nav>
    <div>
        <h1  class="contant">Find Your <br> Dream </h1>

        <p class="baseContant">Our catalog will surprise you. Rather, discover an <br>
             unprecedented offers of luxury properties. </p>
        
        <button>Catalog</button>
    </div>

    <footer class="basefooter">
        <div id="footerList">
            <span class="icon"><i class="material-symbols-outlined">select_all</i></span>
            <i class="bar">all</i>
            <span class="icon"><i class="material-symbols-outlined">pin_drop</i></span>
            <i class="bar"> land lots </i>
            <span class="icon"><i class="material-symbols-outlined">moving_ministry</i></span>
            <i class="bar">office</i>
            <span class="icon"><i class="material-symbols-outlined">store</i></span>
            <i class="bar">store</i>
            <span class="icon"><i class="material-symbols-outlined">location_city</i></span>
            <i class="bar">apartments</i>
            <span class="icon"><i class="material-symbols-outlined">villa</i></span>
            <i class="bar">villa</i>
            <span class="icon"><i class="material-symbols-outlined">house</i></span>
            <i class="bar">house</i>
        </div>
    </footer>
    
   
</div>
 



{%endblock%}