{% extends 'main/base.html' %}



{% block content %}

<div class="home">
    <div class="content">
        <h1>FIND YOUR DREAM</h1>
    <div class="pragrave" >
        <p>Our catalog will surprise you.Rather,discover an unprecedented offers of luxury propreties.</p>
    </div>  
    </div>
    <div class="catalog"><a href="">Catalog</a></div>
</div>
<footer>
    <div class="footer">
        <span><a href="" id="house-log" class="material-symbols-outlined">
            house
            </a>
            <br>
        <label for="house-log">house</label></span>
        <span>
            <a href="" id='villa' class="material-symbols-outlined">
                villa
                </a><br>
            <label for="villa">villa</label>
        </span>
        <span>
            <a id="store" href="" class="material-symbols-outlined">
                store
                </a>

                <br>
                <label for="store">store</label> 
        </span>
        <span>
            <a id="apartment" href="" class="material-symbols-outlined">
                apartment
                </a>
                <br>
                <label for="apartment">apartment</label>
        </span>

        <span>
            <a id="location_city" href=""class="material-symbols-outlined">
                location_city
                </a>
                <br>
                <label for="location_city">all</label>
        </span>

        <span>
            <a href="" id="home-logo" class="material-symbols-outlined">
                home
                </a>
                <br>
                <label for="home-logo">office</label> 
        </span>
        <span>
            <a href="" class="material-symbols-outlined">
                map        
            </a><br>
            <label>city location</label>
        </span>
    </div>
</footer>
{% endblock %}