{% extends 'main/base.html' %}

{% block content %}


    <div class="homepage-content">
        
            <h1>Find Your Dreams</h1>

            <p>Our catalog will surprise you. Rather, discover an unprecendented offers of luxury properties. Our catalog will surprise you. Rather, discover an unprecendented offers of luxury properties.</p>
    
            <a class="btn" href="#">catalog</a>
        

    </div>

    <div class="bottom-container">

        <div class="bottom-nav">

            <div class="service-item" id="house">
                <span class="material-symbols-outlined">
                    source_environment
                    </span>
                <h5>All</h5>
            </div>

            <div class="service-item" id="land-lots">
                <span class="material-symbols-outlined">
                    where_to_vote
                    </span>
                <h5>land lots</h5>
            </div>

            <div class="service-item" id="keyboard_alt">
                <span class="material-symbols-outlined">
                    keyboard_alt
                    </span>
                <h5>Office</h5>
            </div>

            <div class="service-item" id="store">
                <span class="material-symbols-outlined">
                    shopping_bag
                    </span>
                <h5>Store</h5>
            </div>

            <div class="service-item" id="apartment">
                <span class="material-symbols-outlined">
                    apartment
                    </span>
                <h5>apartment</h5>
            </div>

            <div class="service-item" id="villa">
                <span class="material-symbols-outlined">multicooker</span>
                <h5>Villa</h5>
            </div>

            
            <div class="service-item" id="house">
                <span class="material-symbols-outlined">
                    home_app_logo
                    </span>
                <h5>house</h5>
            </div>

            
        </div>

    </div>


{% endblock %}