{% extends 'main/base.html' %}
{% block logo %} PROPERTIES {% endblock%}
{% block images %}
<img class="image-background" src="{% static 'image/pages/properties.jpg' %}" alt="Home Image">
{% endblock %}
{% block title %} Florida Title Insurance &{% endblock %}
{% block body %} Closing Services  {% endblock %}
{% block paragraph %} At Properties Title, we offer title insurance services for residential and commercial real estate transactions throughout the State of Florida.We're proud to be a title company motivated by exceptional customer service, efficiency, innovative technology, an entrepreneurial spirit, and total commitment to excellence. {% endblock %}