{% extends 'main/base.html' %}

{% block content %}
   
    <title>Home Page for RealEstate</title>
 
    <div class="menu-ber">
    <ul>
    <li ><a href="#">Home</a></li>
    <li> Propertles</li>
    <li> Servlce</li>
    <li> About</li>
    <li> Contacts</li>
    </ul>   
</div>

<div class="img-i">
    <img  width="64" height="64" src="https://img.icons8.com/cotton/64/home--v3.png" alt="home--v3"/>
 </div>
   
</div>
    <br>
    <br>
    <div class=" fonts">
    
        <h1 class="h1"> FIND YOUR<br> DREAM</h1>
        <br><br>
        <p>Our catalog will Surprise you.Rather ,discover <br> an unprecedented offers of luxury properties.</p>
        <button class="button">Catalog</button>
    
</div>
   
    <div class="icon" >
        <a href=""><span class="material-symbols-outlined">
        person
        </span>sign up</a></div>


    </div>
    {% endblock %}

</body>
</html>
