{% extends 'main/base.html' %}

{% block content %}

<div class=" homepage">

<div class="sub-content">
    
    <h1> FIND YOUR<br>DREAM</h1>

    <p>Our catalog will Surprise you.Rather ,discover <br> an unprecedented offers of luxury properties.</p>
    
    <a class="button" href="#">Catalog</a>

   </div>
</div>


<div class="button-b">
    <div class="bottom-nav">

        <div class="icon"  id="house">
        <span class="material-symbols-outlined">home_work</span>
        <h6>All</h6>
        </div>
    
         <div class="icon"  id="Landlots">
         <span class="material-symbols-outlined">where_to_vote</span>
         <h6> Land lots</h6>
         </div>

         <div class="icon"  id="apartment"> 
         <span class="material-symbols-outlined">apartment</span> 
         <h6> Office </h6>
         </div>

         <div class="icon"  id="storefron"> 
         <span class="material-symbols-outlined"> storefront</span>
         <h6>Store </h6>
         </div>
         <div class="icon"  id="domain">  
         <span class="material-symbols-outlined"> domain </span> 
         <h6>Apartment </h6>
         </div>

         <div class="icon"  id="storefront"> 
         <span class="material-symbols-outlined"> storefront </span>
         <h6> Villa </h6>
         </div>

         <div class="icon"  id="home"> 
         <span class="material-symbols-outlined"> home</span>
         <h6>House </h6>
         </div>

    </div> 
</div>  
 
 {% endblock %}
    
