{% extends 'main/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">




    <title> {% block title %} Building {% endblock %} </title>

</head>
<body>
    {% block content %}

  
    
    <div class="header">
    <h1 class="logo"> home</h1>
    <div class="box-header"> <h4>home</h4><h4>properties</h4> <h4>service</h4> <h4>about</h4>  <h4>contacts</h4>   </div>
    <h4 class="header-right"> <span style='font-size:20px;'> &#128100;</span> sign up </h4>
</div>


    <div class="tit-box">
    <h1 class="tit"> FIND YOUR <br> DREAM </h1>
    </div>
    <p> our catalog will suprise you. Rather, discover <br> an unprecedented offers of luxury properties.</p>
    <button> cataiog </button>
    {% endblock %}
</body>
</html>