<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>
            {% block title %} {% endblock %}
        </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Phudu&display=swap" rel="stylesheet">
        <link href="/static/css/main.css" rel="stylesheet">
    </head>
   <body>
        <nav >
                <img src="/static/images/home_icon.png" class="nav_left"/>
                <div class="nav_center">
                    <a>
                        HOME
                    </a>
                    <a >
                        Properties
                    </a>
                    <a >
                        About Us
                    </a>
                    <a >
                        Contact Us
                    </a>
                </div>
                <a class="nav_right">
                Sign up
                </a>
        </nav>

            {% block content %} 
            
            {% endblock %}

        <!-- Property categories -->
        <footer>
            <div class="footer_div">
                <a >
                <p>
                    All
                </p>
                </a>
                <a >
                <p>
                    Home
                </p>
                </a>
                <a >
                <p>
                    Land Lots
                </p>
                </a>
                <a >
                <p>
                    Office
                </p>
                </a>
                <a >
                <p>
                    Service Store
                </p>
                </a>
                <a>
                <p>
                    Apartment
                </p>
                </a>
                <a >
                <p>
                    Villa
                </p>
                </a>
                <a >
                <p>
                    House
                </p>
                </a>
            </div>
        </footer>
  </body>
  </html>