body {
    font-family: 'Phudu';
    margin: 0px;
    padding: 0px;
    background-color: aliceblue;
    background-image: url(/static/images/Home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
}

.logo {
    font-family: 'Phudu';
    width: 60px;
    height: auto;
    padding: 5px;
    margin: 5px;
    opacity: 50%;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: space-between;
}

.logo:hover {
    color: black;
    font-size: larger;
    transition-duration: 0.2s;
    font-family: 'Phudu';
}

nav {
    font-family: 'Phudu';
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    opacity: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.nav-links {
    font-family: 'Phudu';
    text-align: center;
    width: 70%;
    height: 60px;
    margin-left: 110px;
    margin-top: 0px;
    padding: 10px;
    background-color: rgb(232, 232, 223);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 1px rgb(232, 232, 223);
    border-radius: 40px;
    align-items: center;
    gap: 5px;
}

a {
    font-family: 'Phudu';
    position: relative;
}

a:hover {
    font-family: 'Phudu';
    color: rgb(18, 59, 53);
    font-size: larger;
    transition-duration: 0.2s;
}

.title {
    color: rgb(139, 117, 37);
    text-shadow: 4px 3px 5px rgb(55, 51, 35);
    font-family: 'Phudu';
    position: relative;
    width: 40%;
    height: auto;
    padding: 15px;
    margin: 15px;
    font-size: 85px;
}

.suptitle {
    font-family: 'Phudu';
    position: relative;
    color: rgb(46, 39, 14);
    text-shadow: 3px 3px 5px rgb(55, 51, 35);
    width: 40%;
    height: auto;
    padding: 20px;
    margin: 20px;
    font-size: 25px;

}

.C {
    font-family: 'Phudu';
    width: 120px;
    height: auto;
    padding: 20px;
    margin: 20px;
    background-color: rgb(46, 39, 14);
    color: antiquewhite;
    border-radius: 50px;

}

.C:hover {
    color: antiquewhite;
    font-size: medium;
    transition-duration: 0.2s;
    font-family: 'Phudu';
}

footer {
    font-family: 'Phudu';
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    opacity: 100%;
    padding-left: 60px;
    margin-left: 60px;
    justify-content: space-between;
    align-items: center;
}

.links {
    font-family: 'Phudu';
    text-align: center;
    width: 70%;
    height: 60px;
    margin-left: 60px;
    margin-top: 0px;
    padding: 30px 100px 30px 100px;
    background-color: rgb(232, 232, 223);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 1px rgb(232, 232, 223);
    border-radius: 40px;
    align-items: center;
    gap: 5px;
}

.b {
    font-family: 'Phudu';
    position: relative;
    border-radius: 50px;
    border: solid 1px rgb(232, 232, 223);
}

.b:hover {
    font-family: 'Phudu';
    color: rgb(18, 59, 53);
    font-size: larger;
    transition-duration: 0.2s;
}