body {
    font-family: 'Phudu',
        sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: aliceblue;
    background-image: url(/static/images/background..png);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: normal;
}

.logo {
    font-family: 'Phudu', sans-serif;
    width: 60px;
    height: auto;
    padding: 5px;
    margin: 5px;
    opacity: 50%;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: space-between;
}

.logo:hover {
    color: black;
    font-size: larger;
    transition-duration: 0.2s;
    font-family: 'Phudu';
}

nav {
    font-family: 'Phudu', sans-serif;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    opacity: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.nav-links {
    font-family: 'Phudu';
    text-align: center;
    width: 70%;
    height: 60px;
    margin-left: 70px;
    margin-top: 0px;
    padding: 10px;
    background-color: rgb(232, 232, 223);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 1px rgb(232, 232, 223);
    border-radius: 40px;
    align-items: center;
    gap: 5px;
}

a {
    color: black;
    font-family: 'Phudu', sans-serif;
    position: relative;
    text-decoration: none;
}

a:hover {
    font-family: 'Phudu', sans-serif;
    color: rgb(8, 138, 119);
    font-size: larger;
    transition-duration: 0.2s;
    text-decoration: none;
}

.title {
    color: rgb(3, 45, 77);
    text-shadow: 4px 3px 5px rgb(101, 101, 99);
    font-family: 'Phudu';
    font-weight: bolder;
    position: relative;
    width: 40%;
    height: auto;
    padding: 15px;
    margin: 15px;
    font-size: 85px;
}

.suptitle {
    font-family: 'Phudu', sans-serif;
    position: relative;
    color: rgb(3, 45, 77);
    text-shadow: 2px 2px 5px rgb(101, 101, 99);
    width: 30%;
    height: auto;
    padding: 20px;
    margin: 20px;
    font-size: 25px;

}

.C {
    font-family: 'Phudu', sans-serif;
    width: 120px;
    height: auto;
    padding: 20px;
    margin: 20px;
    background-color: rgb(3, 45, 77);
    color: antiquewhite;
    border-radius: 50px;

}

.C:hover {
    color: antiquewhite;
    font-size: medium;
    transition-duration: 0.2s;
    font-family: 'Phudu';
}

footer {
    color: black;
    font-family: 'Phudu', sans-serif;
    background-color: rgba(26, 4, 4, 0);
    padding: 5px;
    opacity: 100%;
    padding-left: 60px;
    margin-left: 60px;
    justify-content: space-between;
    align-items: center;
}

.links {
    font-family: 'Phudu', sans-serif;
    text-align: center;
    width: 70%;
    height: 60px;
    margin-left: 40px;
    margin-top: 0px;
    padding: 30px 100px 30px 100px;
    background-color: rgb(232, 232, 223);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 1px rgb(232, 232, 223);
    border-radius: 40px;
    align-items: center;
    gap: 5px;
}

.b {
    color: black;
    font-family: 'Phudu', sans-serif;
    position: center;
    width: 2rem;
    text-decoration: none;
}

.b:hover {
    font-family: 'Phudu', sans-serif;
    color: rgb(8, 138, 119);
    font-size: larger;
    transition-duration: 0.2s;
    text-decoration: none;
}

.about img {
    width: 300px;
    height: auto;
    border-radius: 30px;
}

.details {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
}

.about img {
    font-family: 'Phudu', sans-serif;
    width: 450px;
    height: auto;
    border-radius: 30px;
    margin: 60px 10px 100px 30px;
    box-shadow: 4px 3px 7px rgb(101, 101, 99);

}

p {
    font-family: 'Phudu', 'sans-serif';
    margin: 80px 0 150px 150px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(3, 45, 77);
    text-shadow: 4px 3px 5px rgb(101, 101, 99);

}