{% extends 'RealEstate1/base.html' %}
{% load static %}

{% block title %} Home Page  {% endblock %}

{% block content  %}

    <div class = "paragraph ">
  
        <p>Buying or selling a house or an apartment is one of the biggest decisions of a person’s life. And when selling or establishing a price for real estate, people seek out real estate agents to do the dirty work. A real estate agent has to convince a prospective homeowner that he or she is trustworthy and knowledgeable. In many ways, the agent acts as a counselor to individuals and families about to embark on a huge commitment. Real estate agents have a thorough knowledge or real estate market in their community. They know which neighborhoods will best fit their client’s needs and budgets. </p>
        <img src="{% static 'image/building1.jpg' %}" alt="logo" />
    
    </div>

{%endblock%}


