{% load static %}
<!DOCTYPE html>
<html>
<header>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="/static/css/main.css" rel="stylesheet" />
    <title>{% block title %}  {% endblock %}</title>

</header>
<body {% if "size" in request.COOKIES and request.COOKIES.size == "large" %} class =" large" {%else%} {% endif %}>
    
   

 <div >
     
    <nav>
        <img id = "logo" src="{% static 'image/logo1.png' %}" alt="logo" />
          
        <div class = "comment-bubble">
            <div class = "nav-links">
                <a href="{% url 'RealEstate1:homePage' %}">Home</a>
                    
                <a href="{% url 'RealEstate1:homePage' %}">Properties</a>
                    
                <a href="{% url 'RealEstate1:homePage' %}">Service</a>
            
                <a href="{% url 'RealEstate1:about' %}">About</a>
                <a href="{% url 'RealEstate1:homePage' %}">Contact</a>
                
            </div>
        </div>
        <div class = "img-with-text">
            <img id = "sign-in" src="{% static 'image/sign-in.jpg' %}" alt="logout" /><br><br>
            <p>Sign In</p>
            <a href="{% url 'RealEstate1:large_size_view' %}"><span class="material-symbols-outlined">zoom_in</span></a>
            <a href="{% url 'RealEstate1:small_size_view' %}"><span class="material-symbols-outlined">zoom_out</span></a>
        </div>
       
       
   </nav> 
   
</div> 
    
    

    {% block content %}
    
    {% endblock %}

 
</body>
</html>