{% load static %}
<!DOCTYPE html>
<html>
<header>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet" />
    <title>{% block title %}  {% endblock %}</title>

</header>
<body >
    
   
    
 <div>  
    <nav>
        <img id = "logo" src="{% static 'image/logo1.png' %}" alt="logo" />
          
        <div class = "comment-bubble">
            <div class = "nav-links">
                <a href="{% url 'RealEstate1:homePage' %}">Home</a>
                    
                <a href="{% url 'RealEstate1:homePage' %}">Properties</a>
                    
                <a href="{% url 'RealEstate1:homePage' %}">Service</a>
            
                <a href="{% url 'RealEstate1:homePage' %}">About</a>
                <a href="{% url 'RealEstate1:homePage' %}">Contact</a>
                
            </div>
        </div>
        <div class = "img-with-text">
            <img id = "sign-in" src="{% static 'image/sign-in.jpg' %}" alt="logout" />
            <br>
            <p>Sign In</p>
        </div>
   </nav> 
    
</div> 
    
    

    {% block content %}
    
    {% endblock %}

    <footer>
        
           
            
        <div class = "comment-bubble2" >
            <div class="img-with-text">
                <img class = "img-logo" src="{% static 'image/all.png' %}" alt="logo" />
                <p>all</p>
            </div>
            <div class="img-with-text">
                <img class = "img-logo" src="{% static 'image/location.png' %}" alt="logo" />
                <p>land</p>
            </div>
            <div class="img-with-text">
                <img class = "img-logo" src="{% static 'image/office.png' %}" alt="logo" />
                <p>office</p>
            </div>
            <div class="img-with-text">
                <img class = "img-logo" src="{% static 'image/store.png' %}" alt="logo" />
                <p>store</p>
            </div>
            <div class="img-with-text">
                <img class = "img-logo" src="{% static 'image/apartement.png' %}" alt="logo" />
                <p>apartement</p>
            </div>
            <div class="img-with-text">
                <img class = "img-logo" src="{% static 'image/villa.png' %}" alt="logo" />
                <p>villa</p>
            </div>
            <div class="img-with-text">
                <img class = "img-logo" src="{% static 'image/house.webp' %}" alt="logo" />
                <p>house</p>
            </div>
               
        </div>
        
            
        
    </footer>
</body>
</html>