{% extends 'RealEstate1/base.html' %}
{% load static %}

{% block title %} Home Page  {% endblock %}

{% block content  %}

<div class = "backHome"> 
<div class = "animation">
  <h1>FIND YOUR <br>DREAM</h1>

  <h6>our catalog will surprise you. Rather, discover <br>an unprecedented offers of luxury propreties.</h6>
  <button>Catalog</button>
</div>

  <footer>
        
           
     
    <div class = "comment-bubble2" >
        <div class="img-with-text">
            <img class = "img-logo" src="{% static 'image/all.png' %}" alt="logo" />
            <p>all</p>
        </div>
        <div class="img-with-text">
            <img class = "img-logo" src="{% static 'image/location.png' %}" alt="logo" />
            <p>land</p>
        </div>
        <div class="img-with-text">
            <img class = "img-logo" src="{% static 'image/office.png' %}" alt="logo" />
            <p>office</p>
        </div>
        <div class="img-with-text">
            <img class = "img-logo" src="{% static 'image/store.png' %}" alt="logo" />
            <p>store</p>
        </div>
        <div class="img-with-text">
            <img class = "img-logo" src="{% static 'image/apartement.png' %}" alt="logo" />
            <p>apartement</p>
        </div>
        <div class="img-with-text">
            <img class = "img-logo" src="{% static 'image/villa.png' %}" alt="logo" />
            <p>villa</p>
        </div>
        <div class="img-with-text">
            <img class = "img-logo" src="{% static 'image/house.webp' %}" alt="logo" />
            <p>house</p>
        </div>
           
    </div>
    
</div> 
    
</footer>
{% endblock %}