{% extends 'main/main.html' %}

{% block title %} about {% endblock %}

{% block content %}


<div class="about"> 
<div>
    <p> Real estate is property consisting of land and the buildings on it, along with its natural resources such as growing crops (e.g. timber), minerals or water, and wild animals; immovable property of this nature; an interest vested in this (also) an item of real property, (more generally) buildings or housing in general. In terms of law, real relates to land property and is different from personal property while estate means the "interest" a person has in that land property.
        Real estate is different from personal property, which is not permanently attached to the land (or comes with the land), such as vehicles, boats, jewelry, furniture, tools, and the rolling stock of a farm and farm animals...<a href="https://en.wikipedia.org/wiki/Real_estate"> learn more</a>
   <br><br> </p>
</div>

<div>
    <img src="/static/img/realstate.jpg" alt="real state image" height="400px" width="800px">
</div>

</div>

{% endblock %}