{% extends 'main/main.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="homepage-content">
    <div class="title">
    <h1>Find Your Dreams</h1>
    <p>Our catalog will surprise you. Rather, discover an unprecendented offers of luxury properties. Our catalog will surprise you. Rather, discover an unprecendented offers of luxury properties.</p>

    <a class="btn" href=""> Catalog</a> <br> <br>

    </div>
</div>

    <div class="nav-types" >
        <nav class="types"> 
           
            <div class="service-item" id="all">
               <a href=""><span class="material-symbols-outlined">house</span>
                <h5>All</h5>
               </a> 
            </div>

            <div class="service-item" id="land-lots">
               <a href="" ><span class="material-symbols-outlined">house</span>
                <h5>Land lots</h5>
            </a>
            </div>

            <div class="service-item" id="office">
                <a href=""> <span class="material-symbols-outlined">meeting_room</span>
                <h5>Office</h5> 
            </a>
            </div>

            <div class="service-item" id="store">
                <a href=""> <span class="material-symbols-outlined">store</span>
                <h5>Store</h5>     
             </a>
            </div>
         
            <div class="service-item" id="appartment">
                <a href=""><span class="material-symbols-outlined">apartment</span>
                <h5>Appartment</h5>
            </a>
            </div>

            <div class="service-item" id="villa">
                <a href=""><span class="material-symbols-outlined">villa</span>
                <h5>Villa </h5>
            </a>
            </div>

            <div class="service-item" id="house">
                <a href=""><span class="material-symbols-outlined">house</span>
                <h5>House </h5>
            </a>
            </div>
    </nav>
    </div>

   



{% endblock %}