{% extends 'main/main.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="title">
    <div>
    <h1><b>FIND YOUR DREAM </b></h1><br><br>
    <h3> our catalog will suprise you, Rather discover offers and ideas.</h3> </div><br>
   <br> <button> Catalog</button>
</div>

    <div class="nav-types" >
        <nav class="types"> 
            
            <a>all</a>
            <a>land lots</a>
            <a>office</a>
            <a>store</a>
            <a >appartment</a>
            <a>villa</a>  
            <a>houses</a>  
              
        </nav>
    </div>


{% endblock %}