{% extends 'main/base.html' %}
{% load static %}
{% block header %}
Home Page
{% endblock %}
{% block logo %}
<h1 
     class="home">
        H<img src="static/image/cloud4.png" alt="cloud">ME
    </h1>
{% endblock%}
{% block images %}
<img class="image-background" src="{% static 'image/home2.jpg' %}" alt="Home">
{% endblock %}
{% block title %}
<h1> FIND YOU </h1>
{% endblock %}
{% block body %} 
<h1> FUTURE HOUSE </h1>
{% endblock %}
{% block paragraph %} 
<p>A company specializing in real estate sales, property management, etc</p> 
{% endblock %}