body {
    font-family: 'Ubuntu', sans-serif;
    background-image: url('static/images/backgrond2.jpg');
    background-size: cover;
}



/*nav bar*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 100px;
    padding-left: 50px;
}

.nav-links {
    background-color: #ffff;
    border-radius: 50px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
    margin: 5px 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #4d4d4d; 
    font-size: 20px;
}

/*sign-up Button*/
button {
    margin-right: 50px;
    padding: 15px 40px;
    color: aliceblue;
    border-radius: 50px;
    background-color: #403CFF;
    border: none;
}

/*content*/
.content {
    margin-left: 50px;
    margin-right: 80px;
}
.content h1 {
    font-family: 'Phudu', sans-serif;
    font-size: 200px;
    margin-bottom: 10px;
}

/*Cataigo Button*/
.content button {
    margin-right: 50px;
    padding: 15px 100px;
    color: aliceblue;
    border-radius: 50px;
    background-color: black;
    border: none;
}