*{
    padding: 0px;
    margin: 0px;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    margin-top: 3px;
    
}
.home{
   
    background-image: url('/static/images/building.jpg');
    
    background-size: cover;
    
    margin-top: 0rem;
    
}

.content{
    padding-top: 2rem;
    margin-left: 30px;
    width: 50%;
    font-family: 'Phudu';
    font-size: large;
    font-weight: bold;
}
.content h1{
    font-size: 6pc;
}
.pragrave{
    width: 63%;
}
.catalog{
    margin-left: 30px;
    display: flex;
    align-items: center;
    width: 10%;
    border: 0px;
    background-color: black;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    
}
.catalog a{
    color: white;
    text-decoration: none;
}
footer{
    
    display:flex;
    justify-content: center;
    margin-top: auto;
    margin-top: -39px;
    box-shadow: 0px 1px black;


    
    
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 90%;
    border: 0px;
    border-radius: 20px;
    background-color: white;
    
}
.footer a{
    text-decoration: none;
}
label{
    font-size: small;

}


.material-symbols-outlined{
    color: green;
}

.nav-content{
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
    border: 0px;
    background-color: white;
    border-radius: 20px;
    width: 50%;
    
}
.nav-content a{
 text-decoration: none;

}

.page-title{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sign-up span{
    color: black;
}
.sign-up a{
    color: black;
    text-decoration: none;
}

.home{

    display: flex;

    flex-direction: column;
    min-height: 100vh;
}

.about{
    display: flex;
    padding-top: 3rem;
    justify-content: space-between;
    
}
.about img{
    width: 30%;
}

.large {
    font-size: 200%;
}

.font-size{
    width: 10%;
    border: 0px;
    border-radius: 20px;
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    background-color: white;
    
}
.font-size a{
    text-decoration: none;
    
}