<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Phudu&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <title>Document</title>
</head>
<body  {% if "mode" in request.COOKIES and request.COOKIES.mode == "small" %} class="small" {% endif %}>


    <div class="top-nav-container">
        <nav class="top-nav">

            <h2 class="logo">Home</h2>

            <div class="top-bar">
                <a href="">Home</a>
                <a href="">Properties</a>
                <a href="">Services</a>
                <a href="">About</a>
                <a href="">Contact</a>
            </div>

            <div class="signup-container">
                <span class="material-symbols-outlined">person</span>
                <a href="">Sign up</a>
                <div class="display-mode">
                    
                    <a href="{% url 'main1:small_mode_view' %}"><span class="material-symbols-outlined">zoom_out</span></a>
                    <a href="{% url 'main1:big_mode_view' %}"><span class="material-symbols-outlined">zoom_in</span></a>
                </div>
            </div>

        </nav>
    </div>

    {% block content %}

    {% endblock %}
    
</body>
</html>